{% load static %}{% load poll_tags %}
                <h2 class="question__title">{{instance.caption}}</h2>
                <div id="{{instance.question_id}}" class="question-select select" title="{{instance.question_type}}">
                  <div class="question-select__header flex select__header">
                    <span class="question-select__current select__current">Выбрать...</span>
                    <span class="question-select__icon select__icon">
                      <svg
                        width="11"
                        height="6"
                        viewBox="0 0 11 6"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1.5 1L5.5 5L9.5 1"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </div>

                  <div class="select__body question-select__body">
                    <div class="select-search flex">
                      <input class="select-search__input" type="text" placeholder="Поиск">
                      <button class="select-search__btn btn-resert" aria-label="поиск по сайту">
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M7.33333 12.6667C10.2789 12.6667 12.6667 10.2789 12.6667 7.33333C12.6667 4.38781 10.2789 2 7.33333 2C4.38781 2 2 4.38781 2 7.33333C2 10.2789 4.38781 12.6667 7.33333 12.6667Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                          <path d="M14.0001 13.9996L11.1001 11.0996" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                      </button>
                    </div>
                    {% get_items_many_list instance.question_id%}
                  </div>
                </div>
