{% load static %}{% load poll_tags %}
                <h2 class="question__title">{{instance.caption}}</h2>
                <div id="{{instance.question_id}}" class="question-select select" title="{{instance.question_type}}">
                  <div class="question-select__header flex select__header">
                    <span class="question-select__current select__current">Выбрать...</span>
                    <span class="question-select__icon select__icon">
                      <svg
                        width="11"
                        height="6"
                        viewBox="0 0 11 6"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1.5 1L5.5 5L9.5 1"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </div>

                  <div class="select__body">
                    {% get_items_many_list instance.item_set_id%}
                  </div>
                </div>
