{% load static %}
                <h2 class="question__title">{{instance.caption}}</h2>
                <ul id="{{instance.question_id}}" class="question-answers-list list-resert flex" title="{{instance.question_type}}">
                  <li class="question-answers-list__item">
                    <button class="question-answers-list__item-btn yes-btn btn-resert">
                      Да
                    </button>
                  </li>
                  <li class="question-answers-list__item">
                    <button class="question-answers-list__item-btn no-btn btn-resert">
                      Нет
                    </button>
                  </li>
                  <li class="question-answers-list__item">
                    <button class="question-answers-list__item-btn dn-btn btn-resert">
                      Н/Д
                    </button>
                  </li>
                </ul>
